<h1><%= @user.email %></h1>

<h2>My Events</h2>
  <ul>
    <% @user.events.each do |event| %>
      <li><%= link_to event.title || "Event #{event.id}", event %></li>
    <% end %>
  </ul>
</h2>
<%= link_to "Create A New Event", new_event_path %>